<!DOCTYPE html>
<html>
	<style>		.header {
		overflow: hidden;
		background-color: #3c75d2;
		padding: 5px 50px 10px 40px;
	  }
		  .header a {
		float: left;
		color: white;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 30px; 
		line-height: 25px;
		border-radius: 6px;
		font-family:verdana;
	  }</style>
<head>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<div class="header">
				<a href="/">Home</a>
		  </div>
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>Following Employee has been added to the database</h2><br>
			<h2>ID: {{ id }}</h2><br>
			<h2>NAME: {{ name }}</h2><br>
			<title>Add Emp Output</title>
				
				<a href="/addnewemp">Add new Employee</a></div><br><br>
				<a href="/editemp">Edit Employee</a></div>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
