<!DOCTYPE html>
<html>
	<style>		.header {
		overflow: hidden;
		background-color: #3c75d2;
		padding: 5px 50px 10px 40px;
	  }
		  .header a {
		float: left;
		color: white;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 30px; 
		line-height: 25px;
		border-radius: 6px;
		font-family:verdana;
	  }</style>
<head>

	<body>

		<div class="header">
			<a href="/">Home</a>
	  </div>
			<h1>Delete Successfully !</h1>
			<h3>Employee ID: {{ emp_id }} has been removed from database</h3><br>
			<title>Remove Employee</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<div id="button"><a href="/delemp">Delete Another Employee</a></div><br><br>

				</form>
				</div>

		</body>
</head>
<body>

</body>
</html>