<!DOCTYPE html>
<html>
<head>


	<body>

			
<center>
	<font color="Black" size="5" style="font-family: avenir">
		<div id="bgBox">
			<h1>Delete Successfully !</h1>
			<h3>Employee ID: {{ emp_id }} has been removed from database</h3><br>
			<title>Remove Employee</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<div id="button"><a href="/delemp">Delete Another Employee</a></div><br><br>

				</form>
				</div>
	

		</body>
</center>
</head>
<body>

</body>
</html>