<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<style>
			.header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 10px 40px;
}
	.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 6px;
  font-family:verdana;
}
</style>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<div class="header">
			<a href="/">Home</a>
	  </div>

		<body bgcolor="lightgrey">

			<form action="/fetchdata" autocomplete="on" method="POST">

				<h2 style="color: grey">Enter Employee ID</h2>

		  		<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40" placeholder="Enter Employee ID" required><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br>

				<form action="/fetchdata" autocomplete="on" method="GET">
					<button type="submit" formaction="/" autocomplete="on" method="POST" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;">GO TO UPDATE DATABASE PAGE</button>
				</form>
				  
		  		

			</form>

		</body>
	</font>
</center>
</html>
