<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<style>
    .header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 5px 30px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 4px;
  font-family:verdana;
}
</style>

	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue;font-family:verdana">Employee Database</h1>

        <div class="header">
			<div class="header-right">
			<a href="/">Home</a>
			<a  href="/addnewemp">Add Employee</a>
			<a  href="/delemp">Remove Employee</a>
			<a  href="/getemp">Search Employee</a>
			<a href="/empatt">Attendance</a>
			<a  href="/about">About</a>
			</div>
  
</div>


</body>
</html>