<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<style>
    
    .header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 10px 40px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 6px;
  font-family:verdana;
}

a:hover {
  background-color: rgb(103, 16, 146);
}
</style>
<body bgcolor="white">
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="margin-left:30px;margin-top:50px;margin-bottom:50px;color: DodgerBlue;font-family:verdana">Employee Database</h1>

        <div class="header">
			<div class="header-right">
        <a style="margin-left:60px;" href="/">Home</a>
        <a style="margin-left:80px;" href="/addnewemp">Add Employee</a>
        <a style="margin-left:80px;" href="/delemp">Remove Employee</a>
        <a style="margin-left:80px;" href="/getemp">Search Employee</a>
        <a style="margin-left:80px;" href="/empatt">Attendance</a>
        <a style="margin-left:80px;" href="/about">About</a>
			</div>
  
</div>
</center>
</body>
</html>