
<!DOCTYPE html>
<html>
<head>
	<title>Take Attendance Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/attendanceemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE ID</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="employee_id" autofocus size="40" placeholder="Enter Employee ID" required><br><br>

		  		Date:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date"placeholder="Enter dd/MM/yyyy" required><br><br>

		  		Time:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="time" placeholder="Enter HH:mm:ss" required><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE ATTENDANCE</button>

			</form>
		</body>

	</font>
</center>
</html>
