<!DOCTYPE html>
<html>
<head>
	<style>
			    .header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 10px 40px;
}
	.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 6px;
  font-family:verdana;
}
	</style>
	<title>Take Attendance Information</title>
	<div class="header">
		<a href="/">Home</a>
  </div>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<h1>ATTENDANCE SUCCESSFUL ADDED</h1><br>
			<h2>Date: {{ date }}</h2><br>
			<h2>Time: {{ date }}</h2><br>
			
			<title>Take Attendance Output</title>
				<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
