
<!DOCTYPE html>
<html>
	<style>
    
		.header {
	  overflow: hidden;
	  background-color: #3c75d2;
	  padding: 5px 50px 10px 40px;
	}
	
	.header a {
	  float: left;
	  color: white;
	  text-align: center;
	  padding: 12px;
	  text-decoration: none;
	  font-size: 24px; 
	  line-height: 25px;
	  border-radius: 6px;
	  font-family:verdana;
	}
	
	a:hover {
	  background-color: rgb(103, 16, 146);
	}
	</style>
<head>
	<title>Take Attendance Information</title>
</head>
<center>
	<body bgcolor="white">
		<center>
			<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database Management System</h1>
		
				<div class="header">
					<div class="header-right">
						<a style="margin-left:60px;" href="/">Home</a>
						<a style="margin-left:80px;" href="/addnewemp">Add Employee</a>
						<a style="margin-left:80px;" href="/delemp">Remove Employee</a>
						<a style="margin-left:80px;" href="/getemp">Search Employee</a>
						<a style="margin-left:80px;" href="/empatt">Attendance</a>
						<a style="margin-left:80px;" href="/about">About Us</a>
					</div>
		  
		</div>


			<form action="/attendanceemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE ID</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="employee_id" autofocus size="40" placeholder="Enter Employee ID" required><br><br>

		  		Date:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date"placeholder="Enter dd/MM/yyyy" required><br><br>

		  		Time:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="time" placeholder="Enter HH:mm:ss" required><br><br>

				Status:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="status" placeholder="Enter the Present, Absent or MC" required><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE ATTENDANCE</button>

			</form>

	</font>
</center>
</html>
