<!DOCTYPE html>
<html>
<head>
	<title>Update Employee Information</title>
</head>

<style>
	    .header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 10px 40px;
}
	.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 6px;
  font-family:verdana;
}

</style>
<center>
	<font color="black" size="4" style="font-family: avenir">
		
	  
		<h1 style="color: DodgerBlue">Update Employee Database</h1>

		<body bgcolor="lightgrey">

			<body>
  				<div class="header">
 				 <a href="/">Home</a>
			</div>
			
			<body>


			<form action="/edit" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Salary:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="salary"><br><br>
				  
		  		Position:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="position"><br><br>

		  		Phone Number:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="phone_no"><br><br>

		  		Benefits:<br> 
				  <input type="checkbox" name="benefit" value="Transportation Allowance" >Insurance medical care<br>
				  <input type="checkbox" name="benefit" value="Medical Insurance" >Insurance medical care<br>
				  <input type="checkbox" name="benefit" value="Staff Training Program" >Free transportation<br>
				  <br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE DATABASE</button>

			</form>
		</body>

		<script>
			var loadFile = function(event) {
				var image = document.getElementById('output');
				image.src = URL.createObjectURL(event.target.files[0]);
			};
			</script>

	</font>
</center>
</html>
