<!DOCTYPE html>
<html>
<head>
	<style>
		#button {
            width: auto;
            border: 2px solid white;
            border-radius: 5px;
			height: 50px;
			 text-align:center;
			 padding-top:10px;
			 size: 55px;
			
        }

		.header {
  overflow: hidden;
  background-color: #3c75d2;
  padding: 5px 50px 10px 40px;
}
	.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 6px;
  font-family:verdana;
}
	</style>
<center>
	<font color="DodgerBlue" size="5" style="font-family: avenir">
		<body bgcolor="lightgrey">
			<body>
				<div class="header">
				<a href="/">Home</a>
		  </div>
			<h1>SAVE SUCCESSFUL</h1><br>
			<h2>The Employee has been updated in the database</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Update Emp Output</title>
			<form action="http://3.134.115.108:80/" autocomplete="on" method = "GET">

				<div id="button"><a href="/home">Homepage</a></div><br><br>

			</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
